desktop.ini
dotfiles/archive/dist/*
dotfiles/archive/dist/dotfiles-master-modified.zip
dotfiles/archive/dist/dotfiles-master-original.zip
dotfiles/archive/dist/Unix-dot-files.zip
dotfiles/archive/dist/xero_dotfiles-master.zip